/* src/components/Navbar.css */
.nav {
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  padding-left: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #187185;
}
